{% extends 'main/index.html' %}


{% block content %}

<form class="search" action="{% url 'main:news_search' %}" method='post'>
  {% csrf_token %}
  <input type="search" placeholder="輸入關鍵字..." name="q"
      value='{{ query }}' required>
  <button type="submit">Search</button>
</form>

<div>
    <h4>新聞搜尋結果</h4>
</div>

    {% for n in news %}
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>{{ n.title }}</h5>
                        <p>{{ n.time }}</p>
                    </div>
                    <div class="card-action">
                         <a href="{{ n.url }}">原文連結</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}