{% extends 'main/index.html' %}


{% block content %}

<form class="search" action="{% url 'main:stock_search' %}" method='post'>
  {% csrf_token %}
  <input type="search" placeholder="輸入股票代號(ex:2330),或輸入股票名稱(ex:台積電)" name="q"
      value='{{ query }}' required>
  <button type="submit">Search</button>
</form>


<div class="row">
    {% for s in stock %}
    <div class="col s10 m7 l4" style="width:33%">
        <div class="card" >
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/media/{{ s.stock_id }}/stock_price_{{ s.stock_id }}.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ s.stock_id }} {{ s.stock_name }}<i class="material-icons right">more_vert</i></span>
                <h6>{{ s.industry }}</h6>
                <p><a href="{% url 'main:single_stock' page %}">詳細資料</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ s.stock_id }} {{ s.stock_name }}<i class="material-icons right">close</i></span>
                <a href="{% url 'main:stock_list_industry' s.industry 0 %}">{{ s.industry }}</a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div>
        <ul class="pagination" >
            {% if page == 0 %}
            <li class="waves-effect"><a href="{% url 'main:stock_list_industry' s.industry 1 %}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li class="waves-effect"><a href="{% url 'main:stock_list_industry' s.industry last %}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% for p in page_list %}
                {% if p == page %}
                <li class="active"><a href="{% url 'main:stock_list_industry' s.industry p %}">{{ p }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="{% url 'main:stock_list_industry' s.industry p %}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="waves-effect"><a href="{% url 'main:stock_list_industry' next %}"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>

{% endblock %}